## .NET
bin/
obj/
*.user
*.suo
*.DocStates
*.csproj.user
*.dbmdl
*.jfm
*.ddp

## NuGet
packages/
*.nupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/
*.nuget.props
*.nuget.targets

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

## Installer output
FlexWallpaper_Installer.exe
Output/

## VS Code
.vscode/

## Rider
.idea/
*.sln.iml
